<!-- <div class="game">
    <div class="top-div">
        <div>
            <div class="player4">
                <li *ngFor="let carta of player4.cartas">
                    <ul>{{carta}}</ul>
                </li>
            </div>
            <div class="palyer-info">
                <img src="" alt="">
                <span>{{player4.name}}</span>
            </div>
        </div>

        <div>
            aca van el mazo de cartas de c/ jugador
            <div class="player5">
                <li *ngFor="let carta of player5.cartas">
                    <ul>{{carta}}</ul> cartas
                </li>
            </div>
            <div class="palyer-info">
                <img src="" alt="">
                <span>{{player5.name}}</span>
            </div>
        </div>
    </div>

    <div class="center-div">
        <div>
            aca el jugador 3 va en vertical a la izquierda de la pantalla
            <div class="player3">
                <li *ngFor="let carta of player3.cartas">
                    <ul>{{carta.id}}</ul>
                </li>
            </div>
            <div class="player-info">
                <img src="" alt="">
                <span>{{player3.name}}</span>
            </div>
        </div>

        <div class="central">
            <div class="anuncio">
                <h1>
                    {{announce}}
                </h1>
            </div>
            <div class="mazo">
                <div class="cartas-tiradas">
                    ante ultima carta tirada
                    <img src="" alt="">
                    <span>escalera si/no</span>
                </div>
                <div class="ult-carta">
                    ultima carta tirada
                    <img src="" alt="">
                </div>
            </div>
        </div>

        <div>
            aca el jugador 3 va en vertical a la izquierda de la pantalla
            <div class="player6">
                <li *ngFor="let carta of player6.cartas">
                    <ul>{{carta.id}}</ul>
                </li>
            </div>
            <div class="player-info">
                logo del pj
                <img src="" alt="">
                <span>{{player6.name}}</span>
            </div>
        </div>
    </div>

    <div class="bottom-div">
        <div>
            <div class="player2">
                <li *ngFor="let carta of player2.cartas">
                    <ul>{{carta}}</ul>
                </li>
            </div>
            <div class="palyer-info">
                <img src="" alt="">
                <span>{{player2.name}}</span>
            </div>
        </div>

        <div>
            aca van el mazo de cartas de c/ jugador
            <div class="player1">
                <li *ngFor="let carta of player1.cartas">
                    <ul>{{carta}}</ul> cartas
                </li>
            </div>
            <div class="palyer-info">
                <img src="" alt="">
                <span>{{player1.name}}</span>
            </div>
        </div>
    </div>

</div> -->