<div class="container">
    <div class="title">
        <h1>PRESIDENTE APP</h1>
    </div>

    <div class="form">
        <form action="" class="lobby" (ngSubmit)="joinRoom(formGame)" #formGame="ngForm">
            <div class="name">
                <label for="name" id="name" class="form">Introduzca su nombre:</label>
                <input type="text" ngModel name="nombre" [(ngModel)]="user.nombre">
            </div>
            <div class="sala">
                <label for="roomId" id="sala" class="form">Introduzca el numero de la sala:</label>
                <input type="text" ngModel name="sala" [(ngModel)]="user.sala">
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary">
                    Entrar a la sala
                </button>
            </div>
        </form>
    </div>

</div>